# Editors
.DS_Store

# Logs and environment
.env
.env.*
node_modules
logs/
npm-debug*
temp/**/*
!temp/test.pdf

runDailyBirthdayBookingReport.log
runTicketCountMonitor.log

# Indepedent repos and whatever else
dist/*
